.change-password-message{
    text-align: center;
    margin-top: 30px;
}

.change-password-form{
    display: grid;
    grid-template-columns: repeat(1, 0.5fr);
    row-gap: 30px;
    justify-content: center;
}