.modal_title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color:red;

}

.modal_title__login{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
