.events-container {
    min-width: 345px;
    position: relative;
    font-family: Maitree, sans-serif;
    &__wrapper {
      min-width: 300px;
  
      &-title {
        text-align: center;
        margin-bottom: 43px;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        text-transform: uppercase;
        color:#1b2a20;
      }
    }
    &__wrapper-flex{
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 482px) and (max-width: 995.9px) {
    .events-container {
      min-width: 482px;
      margin: 0 auto;
      vertical-align: center;
  
      &__wrapper {
        min-width: 400px;
  
    }
  }
  
  @media (min-width: 996px) {
    .events-container {
      min-width: 996px;
  
      &__wrapper {
        min-width: 900px;
  
      }}
    }
  }
  