.hero{
  min-width: 375px;
  &__background-top{
    background-image: url("img/container_top.jpg");
    background-repeat: no-repeat;
    height: 19vh;
    background-position: center center;
    background-size: cover;
    position:relative;
  }

  &__content-container {
    position: absolute;
    background-color: #1B2A20;
    min-width: 231px;
    min-height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_text1{
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px;
      min-width: 206px;
      font-family: Cleopatras;
      font-size: 24px;
      font-weight: 400;
      line-height: 31.2px;
      text-align: center;
    }
    &_text2{
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      min-width: 211px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }
  }
  &__background-bottom{
    background-color: #F0EEDF;
    min-height: 380px;
    &_container{
      max-width: 333px;
      min-height: 155px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 60px;
      &-content{
        padding: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: center;
      }
    }
  }
//  &__background-last{
//    background-image: url("img/unsplash_TFyi0QOx08c.jpg");
//    background-repeat: no-repeat;
//    background-position: center center;
//    background-size: cover;
//min-height: 380px;
//  }
  @media (min-width: 482px) and (max-width: 833.9px) {
    &__background-top{
      height: 26vh;
    }

    &__content-container {
      min-width: 444px;
      min-height: 172px;
      flex-direction: row;
      top: 530px;
      &_text1{
        max-width: 232px;
        min-height: 124px;
        padding: 10px;
        font-size: 48px;
        line-height: 62.4px;
        text-align: left;
      }
      &_text2{
        max-width: 164px;
        min-height: 89px;
        padding: 10px;
        font-size: 24px;
        line-height: 36px;
        text-align: right;
      }
    }
    &__background-bottom{
      min-height: 380px;
      &_container{
        max-width: 686px;
        min-height: 37px;
        padding-top: 170px;
        top:520px;
        &-content{
          padding: 30px;
          font-size: 16px;
          line-height: 26.4px;
        }
      }
    }
  }
  @media (min-width: 834px) and (max-width: 1800px) {
    &__background-top{
      height: 39vh;
    }

    &__content-container {
      min-width: 444px;
      min-height: 172px;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: row;

      &_text1{
        max-width: 232px;
        min-height: 124px;
        padding: 10px;
        font-size: 48px;
        line-height: 62.4px;
        text-align: left;
      }
      &_text2{
        max-width: 164px;
        min-height: 89px;
        padding: 10px;
        font-size: 24px;
        line-height: 36px;
        text-align: right;
      }
    }
    &__background-bottom{
      min-height: 380px;
      &_container{
        max-width: 683px;
        min-height: 102px;
        padding-top: 130px;
        &-content{
          padding: 30px;
          font-size: 18px;
          line-height: 29.7px;
        }
      }
    }
    //&__background-last{
    //}
    }
  }

