
.item-wrapper{
    margin:5px;
    width: 355px;
    cursor: pointer;
    &__img{
        width: 355px;
    }
    &__title{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 69px;
        background-color: #1B2A20;
        color:#EDEDED;
        font-family: Cleopatras;
        font-size: 21px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding: 15px 15px 15px;
        display: flex;
        align-items: center;
    }


    @media (min-width: 482px) and (max-width: 995.9px) {
        &{
            margin:10px;
            width: 450px;
            &__img{
                width: 450px;
            }
            &__title{
                min-height: 75px;
                font-size: 23px;
                line-height: 25px;
            }
        }
    }
    @media (min-width: 834px) and (max-width: 1800px) {
        &{
            margin:30px;
            width: 510px;
            &__img{
                width: 510px;
            }
            &__title{
                min-height: 79px;
                font-size: 24px;
                line-height: 26.42px;
            }
        }
    }
}