.header{
  min-width: 375px;
  position: relative;

  z-index: 1000;
  &__wrapper {
    display: flex;
    min-height: 48px;
    background-color: #283D3B;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;

    &-logo {
      cursor: pointer;

      &_icon {
        max-width: 32px;
        max-height: 32px;
      }
    }
    &-name{
      font-family: Maitree, sans-serif;
      font-size: 46px;
      font-weight: 400;
      line-height: 70px;
      text-align: left;
      color: #8BA993;
    }

    &-menu{
      display: none;
      &-item{
        padding-right: 15px;
        color: #EDEDED;
        font-family: Maitree, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 26.4px;
        text-transform: uppercase;
        cursor:pointer;
      }
    }
    &-burger_btn{
      display: block;
      cursor: pointer;
    }
  }

  @media (min-width: 482px) and (max-width: 833.9px) {
    &__wrapper {
      height: 160px;
      align-items: center;
      justify-content: space-evenly;
      &-logo{
        &_icon{
          max-width: 80px;
          max-height: 80px;
        }
      }

        &-item {
          padding-right: 15px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26.4px;
        }

      &-burger_btn{
        display: block;
      }
    }
  }
  @media (min-width: 834px)  {
    &__wrapper {
      display: flex;
      height: 160px;
      background-color: #283D3B;
      align-items: center;
      justify-content: space-evenly;
      &-logo{
        &_icon{
          max-width: 80px;
          max-height: 80px;
        }
      }
      &-menu{
        display: block;
        &-item{
          padding-right: 55px;
          font-weight: 400;
          font-size: 18px;
          line-height: 31px;
        }
      }
      &-burger_btn{
      display: none;
      }
    }
  }
}