//colors
$linearGradient: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%);
$black: #000;
$white: #fff;
$border: #75758a;
$light-border: #efefef;
$background-light: #f5f5f5;
$background-light2: #d6e3d1;
$red: #de3c33;
$error: #d72929;
$green: #4f9c2c;
$light-green: #60b021;

//another styles
$box-shadow: 0 5px 4px -4px rgb(0 0 0 / 50%);
